{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Slider -->
	<section class="section-slide">
		<div class="wrap-slick1">
			<div class="slick1">
				<div class="item-slick1" style="background-image: url({% static 'images/slide-06.jpg' %} );">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false">
								<span class="ltext-101 cl2 respon2">
									Mens Collection 2022
								</span>
							</div>								
							<div class="layer-slick1 animated visible-false">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									NEW SEASON
								</h2>
							</div>								
							<div class="layer-slick1 animated visible-false">
								<a href="/shop/" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="item-slick1" style="background-image: url({% static 'images/slide-02.jpg' %} );">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false">
								<span class="ltext-101 cl2 respon2">
									Men New-Season
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									Jackets & Coats
								</h2>
							</div>
								
							<div class="layer-slick1 animated visible-false">
								<a href="/shop/" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="item-slick1" style="background-image: url({% static 'images/slide-03.jpg' %});">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false">
								<span class="ltext-101 cl2 respon2">
									Mens Collection 2021
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									New arrivals
								</h2>
							</div>
								
							<div class="layer-slick1 animated visible-false">
								<a href="/shop/" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- Banner -->
	<div class="sec-banner bg0 p-t-80 p-b-50">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="{% static 'images/banner-07.jpg' %}" alt="IMG-BANNER">

						<a href="/shop/" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Accessories
								</span>

								<span class="block1-info stext-102 trans-04">
									Spring 2018
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="{% static 'images/banner-02.jpg' %}" alt="IMG-BANNER">

						<a href="/shop/" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Clothing
								</span>

								<span class="block1-info stext-102 trans-04">
									Spring 2018
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="{% static 'images/footware.jpeg' %}" alt="IMG-BANNER">

						<a href="/shop/" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Footwear
								</span>

								<span class="block1-info stext-102 trans-04">
									New Trend
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- display Feature Products -->
	<section class="sec-relate-product bg0 py-5">
		<div class="container">		
		<div class="row">
			<div class="col-12 my-3">
				
			</div>
		</div>
		<div class="row">
			{% for product in products %}			
			  <div class="col-12 col-md-3">
				<div class="item-slick2 py-1">
						<div class="block2">
						<div class="block2-pic hov-img0">
							<a href="/shop/{{product.slug}}">
								<img src="/media/{{product.img1}}" alt="{{product.slug}}">
							</a>
							

							<a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1" 
							data-img1="/media/{{product.img1}}" data-img2="/media/{{product.img2}}"  data-img3="/media/{{product.img3}}"
							data-name="{{product.name}}" data-price="{{product.price}}" data-specifications="{{product.specifications}}" data-description="{{product.description}}">
								Quick View
							</a>
						</div>

						<div class="block2-txt flex-w flex-t p-t-14">
							<div class="block2-txt-child1 flex-col-l ">
								<a href="/shop/{{product.slug}}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
									{{product.name}}
								</a>
								<small class="badge badge-info">{{product.category}}</small>

								<span class="stext-105 cl3">
									${{product.price}}
								</span>
							</div>

							<div class="block2-txt-child2 flex-r p-t-3">
								{% if request.user.is_authenticated %}								
								<i class="zmdi zmdi-shopping-cart zmdi-hc-2x  cart-icon" data-product_id={{product}}></i>
								{% else %}
								<i class="zmdi zmdi-shopping-cart zmdi-hc-2x cart-icon-nologin"></i>
								{% endif %}
							</div>
						</div>
					</div>
				</div> 
			</div>    
			{%endfor%}
		</div>		
	</div>
	</section>
{% endblock %}
	